<div class="container my-5 w-75">
    <!-- <form [formGroup]="CategoryForm" (ngSubmit)="onSubmit()" class="my-3">
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="CategoryForm.value.name" [class.is-invalid]="Name?.invalid &&Name?.touched" name="name" type="text" id="name" formControlName="name" class="form-control" placeholder="Category Name">
      </div>
      <div  *ngIf="Name?.errors&&Name?.touched">
        <small *ngIf="Name?.errors?.['required']">Name is required</small>
      </div>
      <small *ngIf="IsFound!=null">{{IsFound}}</small>
            <button type="submit" [disabled]="CategoryForm.invalid" class="btn btn-danger my-5">Submit</button>

        </form> -->
        </div>
        